.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

h1, p {
  text-align: center;
}

h2 {
  margin-top: 0px;
  margin-left: 30px;
}



.legendEntry {
  color: red;
}

svg {
  float: left;
}

#extra_info {
  float: left;
  margin-left: 100px;
  width: 100px;
}

#graduate_schools, #double_majors {
  height: 178.5px;
  overflow-y: scroll;
}

#companies {
  height: 400px;
  overflow-y: scroll;
}

/*.refill {
  fill: white;
}*/